<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>apply-for-future-v1</display-name>

    <!-- <filter>
        <filter-name>NotFoundResponseFilter</filter-name>
        <filter-class>com.td.wsw.imv.filter.NotFoundResponseFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NotFoundResponseFilter</filter-name>
        <url-pattern>*.wsdl</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>  -->

    <!--security-constraint>
        <display-name>customerRoleConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>customerRoleCollection</web-resource-name>
            <url-pattern>/IdentifyManagementService</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Authorized consumer</description>
            <role-name>authConsumer</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-role>
        <description>
        </description>
        <role-name>authConsumer</role-name>
    </security-role-->

    <!--login-config>
        <auth-method>CLIENT-CERT</auth-method>
        <realm-name>A Realm</realm-name>
    </login-config-->

    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>

    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>

</web-app>